h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    margin: 0;
}
.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 32px;
}

.header {
    padding: 23px 0 0;
}
.header span{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #292929;
letter-spacing: 0.12em;
}

.header-content {
    display: flex;
    justify-content: space-between;
}
.header-content a{
    text-decoration: none;
}

.header-logo {
    margin: 0;
    margin-bottom: 6px;
}

.header-nav {
    display: flex;
    gap: 36px;
    list-style-type: none;
    cursor: pointer;
}

.header-nav a {
    color: #545454;
    text-decoration: none;
    transition: color 1s;
    cursor: pointer;
    padding: 5px 0;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
}

.header-nav .nav-active {
    border-bottom: 3px solid #F1CDB3;
    color: #545454;
}

.header-nav a:hover {
    cursor: pointer;
    color: #292929;
    transition: 1s;
}

.main{
    background-color: #F6F6F6;
    text-align: center;
    margin: -5px -5px -10px;
}

h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}
.main-title{
    padding: 80px 0 22px;
}

.pets-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2,1fr);
grid-column-gap: 37px;
grid-row-gap: 30px;
}

.grid-items{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border: none ;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
}
.grid-items p{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #545454;
margin: 27px;
    letter-spacing: 0.06em;
}
.grid-items button{
    margin: 3px 42px 27px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    padding: 14px 40px;
    transition: 1s;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.grid-items:hover{
    transition: 1s;
    background-color: #ffffff;
}
.grid-items:hover button{
    background-color: #F1CDB3;
    transition: 1s;
}
.grid-items button:hover{
    background-color: #F1CDB3;
    transition: 1s;
}
.nav{
    display: flex;
   justify-content: center;
   gap: 20px;
   padding: 59px 0 115px;
}
.nav-button{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color:#CDCDCD ;
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    
}
.nav-button.activ-pages{
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
}
.nav-button.existing-pages{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    cursor: pointer;

}

.nav-button.existing-pages:hover{
    border-color:  #F6F6F6;
    background: #F1CDB3;
    border-radius: 100px;
    transition: 1s;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-background {
    background: url(../../assets/img/background/footer-gradient-background.png);
    background-size: cover;
    margin: -15px;
    padding: 0 15px;
}

.footer-content {
    width: 25%;
    padding-top: 22px;
}

.footer-content h3 {
    color: #FFFFFF;
    margin-bottom: 34px;
}

.footer-content p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content-col {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    min-height: 46px;
    margin-bottom: 24px;
}

.footer-img {
    margin-top: 39px;
}