h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #545454;
    letter-spacing: 0.06em;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 32px;
}

.header {
    padding: 23px 0 0;
}
.header span{
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #292929;
letter-spacing: 0.12em;
}

.header-content {
    display: flex;
    justify-content: space-between;
}
.header-content a{
    text-decoration: none;
}

.header-logo {
    margin: 0;
    margin-bottom: 6px;
}

.header-nav {
    display: flex;
    gap: 36px;
    list-style-type: none;
    cursor: pointer;
}

#menu-toggle{
    display: none;
}
.header-nav a {
    color: #545454;
    text-decoration: none;
    transition: color 1s;
    cursor: pointer;
    padding: 5px 0;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
}

.header-nav .nav-active {
    border-bottom: 3px solid #F1CDB3;
    color: #545454;
}

.header-nav a:hover {
    cursor: pointer;
    color: #292929;
    transition: 1s;
}

.main{
    background-color: #F6F6F6;
    text-align: center;
    margin: -5px -5px -10px;
}

h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
}
.main-title{
    padding: 80px 0 22px;
}

.pets-grid{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2,1fr);
grid-column-gap: 37px;
grid-row-gap: 30px;
}

.grid-items{
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border: none ;
    transition: 1s;
    cursor: pointer;
    border-radius: 10px;
}
.grid-items p{
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #545454;
margin: 27px;
    letter-spacing: 0.06em;
}
.grid-items button{
    margin: 3px 42px 27px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
    padding: 14px 40px;
    transition: 1s;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.grid-items:hover{
    transition: 1s;
    background-color: #ffffff;
}
.grid-items:hover button{
    background-color: #F1CDB3;
    transition: 1s;
}
.grid-items button:hover{
    background-color: #F1CDB3;
    transition: 1s;
}
.nav{
    display: flex;
   justify-content: center;
   gap: 20px;
   padding: 59px 0 115px;
}
.nav-button{
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
color:#CDCDCD ;
    width: 52px;
    height: 52px;
    background: none;
    border: 2px solid #CDCDCD;
    border-radius: 100px;
    
}
.nav-button.activ-pages{
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
}
.nav-button.existing-pages{
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    color: #292929;
    cursor: pointer;

}

.nav-button.existing-pages:hover{
    border-color:  #F6F6F6;
    background: #F1CDB3;
    border-radius: 100px;
    transition: 1s;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.footer-background {
    background: url(../../assets/img/background/footer-gradient-background.png);
    background-size: cover;
    margin: -15px;
    padding: 0 15px;
}

.footer-content {
    width: 25%;
    padding-top: 22px;
}

.footer-content h3 {
    color: #FFFFFF;
    margin-bottom: 34px;
}

.footer-content p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content-col {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    min-height: 46px;
    margin-bottom: 24px;
}

.footer-img {
    margin-top: 39px;
}
@media (min-width:768px) and (max-width:1279px){

body{
    margin: 0;
}

.header {
    padding: 31px 0px 0px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
}

.container {
    padding: 0 30px;
}
.header-nav a {
    padding: 3px 0
}
.dispay-768{
    display: none;
}
.pets-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 37px;
    grid-row-gap: 32px;
    margin: 0 64px;
}
.main {
    background-color: #F6F6F6;
    text-align: center;
    margin: -5px -0 -10px;
}
.main-title {
    padding: 80px 0 0px;
    margin: 34px 0 30px;
}
.nav {
    padding: 42px 0 91px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 41px;
}
.footer-background {
    margin: -15px 0;
}
.footer-content {
    width: 44%;
    padding-top: 0px;
}
.footer-img {
    margin-top: -11px;
}
.footer-content-col {
    display: flex;
    align-items: center;
    gap: 18px;
    flex-wrap: nowrap;
    min-height: 47px;
    margin-bottom: 27px;
    margin-top: -2px;
}
.footer-content h3 {
    color: #FFFFFF;
    margin: 30px 0 34px;
}
}

@media (min-width:320px) and (max-width:767px){

    body{
        margin: 0;
    }
    .container {
        padding: 0 10px;
    }

    .dispay-320{
        display: none;
    }
    .header {
        padding: 30px 0 10px;
        position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
    }

    .header-nav a{
        color: #CDCDCD;
    }
    .header-nav .nav-active{
        color: #FAFAFA;
    }
    .header-nav a:hover {
        cursor: pointer;
        color: #FAFAFA;
        transition: 1s;
    }
    .main {
        background-color: #F6F6F6;
        text-align: center;
        margin: 94px 0px -10px;
    }
    .main-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        padding: 42px 0 16px;
    }

    .pets-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-column-gap: 37px;
        grid-row-gap: 34px;
        margin: 0 15px;
    }
    
    .nav {
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 46px 0px 52px;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-background{
        margin: 0;
        padding: 0;
    }
    .footer-content h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
    }
    .footer-content {
        width: 97%;
    padding-top: 5px;
    }
   
    .footer-content-col {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: nowrap;
        min-height: 46px;
        margin-bottom: 3px;
        margin-top: 24px;
    }
    .footer-img {
        margin-top: 44px;
        width: 87%;
    }
    #menu-toggle {
        opacity: 0;
      }

      .menu-btn {
    position: relative;
    top: 4px;
    left: -46px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    display: flex; /* используем flex для центрирования содержимого */
      }
      /* добавляем "гамбургер" */
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
      #menu-toggle:checked ~ .menu-btn > span,
      #menu-toggle:checked ~ .menu-btn > span::before,
      #menu-toggle:checked ~ .menu-btn > span::after {
        background-color:  #F1CDB3;
        ;
      }
      #menu-toggle:checked ~ .menu-btn {
        transform: rotate(90deg);
      }
        
        #menu-toggle ~ .header-nav {
            display: block;
            visibility: visible;
            /* left: 0; */
            position: fixed;
            background: #292929;
            top: 0;
            /* left: 0; */
            right: 0;
            bottom: 0;
            margin: 0;
            width: 100%;
            max-width: 320px;
            text-align: center;
            padding: 227px 0 0 0;
            font-size: 32px;
            line-height: 290%;
            overflow: hidden;
            transform: translateX(100%);
            transition: transform 1s ease;
          } 
          #menu-toggle:checked ~ .header-nav {
            transform: translateX(0);
          }
          .overlay{
              display: none;
              position: fixed;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background-color: #29292999;
              opacity: 60%;
            overflow: hidden;
          }
          #menu-toggle:checked ~ .overlay  {
              display: block;
             
          }
      .header-nav a{
        font-size: 32px;
        line-height: 290%;
        overflow: scroll;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        max-width: 320px;
        text-align: center;
    }
}
