html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 1.6;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin: 0;
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 25px;
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
}

h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
}

p {
    margin: 0 0 25px;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
}

.header {
    padding: 60px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}


.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content span {
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    margin: 10px 0 0;
}

.header-logo {
    margin: 0;
}

.header-nav {
    display: flex;
    gap: 36px;
    list-style-type: none;
    cursor: pointer;
}

.header-nav a {
    color: #CDCDCD;
    text-decoration: none;
    transition: color 0.5s;;
    cursor: pointer;
    padding: 5px 0;
}

.header-nav .nav-active {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

.header-nav a:hover {
    cursor: pointer;
    color: #fafafa;
    transition: 0.5s;;
}

.start-screen {
    background: url(../../assets/img/background/start-screen-gradient-background.png);
    background-size: cover;
    padding-top: 180px;
}

.start-screen-content {
    align-items: center;
    display: flex;
    gap: 40px;
}

.start-screen-content p {
    display: flex;
    align-items: center;
    color: #CDCDCD;
    margin: 0;
}

.start-screen-button {
    width: 207px;
    height: 52px;
    border: none;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    cursor: pointer;
    transition: 0.5s;;
}

.start-screen-button:hover {
    background: #FDDCC4;
 

}

.content-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 80px;
}

.about {}

.about-content {
    display: flex;
    padding: 93px 0 89px;
}

.about-col {
    flex: 1;
}

.about-col-img {
    text-align: center;
}

.about-col-img img {
    margin-left: 50px;
    margin-top: -13px;
}

.about-text {
    margin-left: -5px;
    width: 71%;
}

.about-text p {
    color: #4C4C4C;
    margin: 0 0 25px;
}

.pets-bg {
    background-color: #F6F6F6;
}

.pets {
    padding: 80px 0 100px;
    text-align: center;
}

.pets-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    margin: 59px 0 60px;
}

.slider-nav {
    width: 56px;
    height: 56px;
    border: 2px solid #F1CDB3;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;;
}

.slider-nav:hover {
    transition: 0.5s;;
    background: #F1CDB3;
    border: 1px solid #dfcabb;
}

.pets-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
}

.pets-slider-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: none;
    background-color: #FAFAFA;
    cursor: pointer;
    border-radius: 10px;
}
.pets-slider-items:hover .slider-button {
    background: #F1CDB3;
}
.pets-slider-items:hover{
    background-color: #ffffff;
}


.slider-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 13px 43px;
    background: none;
    margin: 0 0 30px;
    transition: background-color 1s, border-color 1s;
    cursor: pointer;
}

.slider-button:hover {
    border-color: #fbfbfb;
    background: #F1CDB3;
}

.pets-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px;
    background: #F1CDB3;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid #F1CDB3;
    transition: 1s;
}

.pets-button:hover {
    background: #f8f7f6;
    transition: 0.5s;;
}


.help {
    padding: 80px 0 45px;
}

.help-title {
    margin-bottom: 59px;
    text-align: center;
}

.help-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
}

.help-list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    flex: 0 0 20%;
    margin-bottom: 55px;
}

.donation-bg {
    background-color: #F6F6F6;
}

.donation-block {
    display: flex;
    justify-content: center;
}

.donation {
    display: flex;
    gap: 30px;
    padding: 80px 0 100px;
    width: 76%;
}

.donation-img {
    width: 56%
}

.donation-img img {
    margin-top: 11px;
}

.donation-content h3 {
   margin: 0 0 20px;
}

.donation-content a{
    text-decoration: none;
}

.donation-content p {
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 20px;
}

.donation-content span {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #B2B2B2;
    margin: 0;
}

.donation-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 14px;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
}

.donation-button:hover {
    background:#FDDCC4;
}

.donation-button-img {
    margin: 0 15px 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-background {
    background: url(../../assets/img/background/footer-gradient-background.png);
    background-size: cover;
}

.footer-content {
    width: 25%;
    padding-top: 56px;
}

.footer-content h3 {
    color: #FFFFFF;
    margin-bottom: 34px;
}

.footer-content p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content a{
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0;
}

.footer-content-col {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    min-height: 46px;
    margin-bottom: 24px;
}

.footer-img {
    margin-top: 39px;
}