body{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: black;
    margin:0;
}
* {
    box-sizing: border-box;
  }
  .container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
  }

  .nav-link:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
  .section-title {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    color: #BDAE82;
  }
  .main-nav {
      display: flex;
  }
  .container_header{
    display: flex;
    align-items:center;
  }
  .logo{
      flex:1;
      background-image: url('assets/svg/logo.svg');
      width:50px;
      height:50px;
      background-size: contain;
      background-repeat: no-repeat;  
      transition: 0.3s;
    }
.logo:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
}
.header-container {
    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.hero-container {
    background-image: url('assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 910px;
}
h1{
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
  }
.hero{
    padding: 160px 80px;
}
.button{
    border: 0;
    background-color: #bdae82;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    height: 55px;
    width: 220px;
}
.about_hero{
    height: 120px;
    width: 470px; 
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    padding-top: 10px;
}